.card {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: #4d4d4d;
    span {
      font-size: 16px;
      font-weight: normal;
      color: black;
    }
  }
  &-user-info {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }
  &-score-info {
    display: flex;
    align-items: center;
    column-gap: 42px;
    svg {
      font-size: 20px;
      color: red;
      cursor: pointer;
    }
  }
  &-delete {
    color: red;
  }
  @media (max-width: 568px) {
    align-items: center;
    padding: 10px 0;
    min-width: 300px;
    p {
      span {
        font-size: 14px;
      }
    }
    &-user-info {
      p {
        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100px;
        }
      }
    }
  };
}
